.App {
  height: 100vh;
  background: url("images/Lawrencium.jpg") center no-repeat;
  background-size: cover;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffffa6;
}
.zagolovok {
  padding-top: 20px;
  margin: 0 0 20px 0;
}
input {
  background: border-box;
  border-color: #ffffffa6;
  border-top: none;
  width: 200px;
  color: #ffffffa6;
}
button {
  background: border-box;
  /*border: none;*/
  color: #ffffffa6;
  width: 200px;
  height: 50px;
  cursor: pointer;
  font-size: 16px;
}
